<header class="header">
  <h1>Novo paciente</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Voltar para pacientes", pacientes_path %>
  </div>

</header>

<div class="div--form">
  <%= render "form", paciente: @paciente %>
</div>


<br>

