<header class="header">
  <h1>Nova Consulta</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Voltar para consulta", consulta_path %>
  </div>
</header>

<div class="div--form">
  <%= render "form", consultum: @consultum %>
</div>
