.body{
    margin: 0;
}



.div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
    margin: 0 auto;
}


.div p{
    color: #F86F03;
    text-align: center;
    border: 2px solid #525FE1;
    border-radius: 12px;
    font-size: 19px;
    padding: 2px 5px;
}

.div p strong{
    color: #525FE1;
}

.div--home{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
}

.div--form form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.div--form form label{
    color: #525FE1;
    font-weight: bolder;
}

.div--form form input{
    width: 200px;
    border: 2px solid #525FE1;
    border-radius: 12px;
    padding: 3px 6px;

}

.div--form form input[type="checkbox"]{
    height: 17px;
    cursor: pointer;

}

.div__form-endereco{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin: 0 auto;
    color: #525FE1;
}

.button input{
    border-radius: 12px;
    background-color: #525FE1;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.button input:hover{
    transform: scale(1.1);
    transition: all .5s;
}


.button_to button{
    border: 1px solid white;
    border-radius: 12px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.button_to button:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.component{
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid #F86F03;
    padding: 20px 40px;
}

.title_3{
    color: #F86F03;
    width: 200px;
    border: 2px solid #F86F03;
    border-radius: 12px;
    text-align: center;
}

.title_3--paciente{
    color: #525FE1;
    font-size: 22px;
    text-align: center;
    margin: 7px 0;
}

.img--click{
    height: 25px;
}

.link{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover{
    transition: all .4s;
    opacity: .7;
}
.link a{
    color:#525FE1;
    font-size: 17px;
}

.div table{
    border-collapse: collapse;
    margin: auto;
}

.div table, th, td {
    border: 1px solid black;
}

.div table th, td{
    padding: 10px;
    text-align: center;
    width: 120px;
}

.div table th{
    font-weight: bold;
}