<header class="header">
  <h1>Novo médico</h1>

  <div class="header__links">
    <%= link_to "Página Inicial",root_path %>

    <%= link_to "Voltar para médicos", medicos_path %>
  </div>

</header>

<div class="div--form" style="margin-top: 20px">
  <%= render "form", medico: @medico %>
</div>
